<%-include("./partials/header") %>

<section class="intro">
    <h1>Bleiker VGS login-api endpoint documentation</h1>
    <p>
        This is the documentation for auth.ikt-fag.no. The API is based JWT tokens with 
        mechanics in place for invalidating JWT tokens, thus enabling logout and banning
        tokens if needed. Each route consumed by the api is documented below, as are all
        the responses you can expect to get.
    </p>
    <hr>
</section>

<% if(Array.isArray(files) && files.length > 0) { %>
    <section class="doc-section">

        <% files.forEach(file =>  { %>
            <section class="endpoint-doc">
                <h1 class="endpoint"><%=file.endpoint%></h1>
                <h3 class="httpverb"><%=file.verb%></h3>
                <h3 class="json"><%=file.jsonStructure%></h3>
                <p class="text">
                    <%=file.description%>
                </p>
            </section>
        <% }); %>
    </section>
<% } %>

<section class="documentation-links">
    <ul>
        <li><a href="#">200 - OK</a></li>
        <li><a href="#">400 - </a></li>
    </ul>
</section>

<section class="documentation-links">
    <ul>
        <li><a href="#">/create-user</a></li>
        <li><a href="#">/login-user</a></li>
        <li><a href="#">/refreshuser</a></li>
        <li><a href="#">/logout</a></li>
    </ul>
</section>

<%-include("./partials/footer") %>